<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">

    <!--start filter-->
    <filter>
        <filter-name>start-filter</filter-name>
        <filter-class>lk.ijse.dep12.filter.StartFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>start-filter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

<!--    Customer Filter -->
    <filter>
        <filter-name>customer-filter</filter-name>
        <filter-class>lk.ijse.dep12.filter.CustomerFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>customer-filter</filter-name>
<!--        can give url pattern or servlet-->
        <url-pattern>/customers</url-pattern>
<!--        <servlet-name>customer-servlet</servlet-name>-->
    </filter-mapping>

<!--    item filter -->
    <filter>
        <filter-name>item-filter</filter-name>
        <filter-class>lk.ijse.dep12.filter.ItemFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>item-filter</filter-name>
        <url-pattern>/items</url-pattern>
    </filter-mapping>

    <!--end filter-->
    <filter>
        <filter-name>end-filter</filter-name>
        <filter-class>lk.ijse.dep12.filter.EndFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>end-filter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
</web-app>